{% extends "base.html" %} {% block title %}Enroll User{% endblock %} {% block
content %}

<div class="container-fluid mt-4">
  <div class="row align-items-center g-3 mb-3 border-bottom pb-3">
    <div class="col-12 col-md-4">
      <h4 class="mb-0" style="color: #0b4486">
        <i class="bi bi-person-add me-2"></i>Enroll User
      </h4>
    </div>
    <div class="col-12 col-md-5">
      <div class="input-group">
        <span class="input-group-text bg-white border-end-0 rounded-start-pill">
          <i class="bi bi-search text-muted"></i>
        </span>
        <input
          type="text"
          class="form-control border-start-0 rounded-end-pill"
          id="searchModule"
          placeholder="Search existing user..."
        />
      </div>
    </div>
    <!-- <div class="col-12 col-md-3 text-md-end">
            <a href="{{ url_for('index') }}" class="btn btn-outline-secondary rounded-pill ms-2 float-end">
                <i class="bi bi-x-lg me-2"></i>Cancel
            </a>
            <a href="{{ url_for('enroll_user_form', app_id=app_id,app_name=app_name,app_url=app_url) }}"
                class="btn btn-outline-primary rounded-pill ms-2">
                <i class="bi bi-plus-lg me-2"></i>Add New User
            </a>
        </div> -->
  </div>

  <div class="card border-0 rounded-3">
    <div class="card-body rounded-3" style="background-color: #e0e9f1">
      <div class="row">
        <div class="">
          <div class="col d-none">
            <strong>Application ID: {{ app_id }}</strong>
          </div>
          <div class="col">Selected Application</div>
          <div>
            <strong
              ><i class="bi bi-windows me-2" style="color: #0b4486"></i>{{
              app_name }}</strong
            >
          </div>
          <div class="col d-none">
            Selected Application URL<strong>{{ app_url }}</strong>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="card mt-2">
        <div class="card-body">
            
        </div>
    </div> -->

  <!-- <div class="card border-0">
        <div class="card-body">
            <h4>
                User Access List
            </h4>
        </div>
    </div> -->

  <table class="table table-striped table-hover mt-3" id="table_users">
    <thead class="table-light align-middle">
      <tr>
        <th colspan="5">
          <div class="row">
            <div class="col">
              <h4 class="mb-0">
                <i class="bi bi-people me-2"></i>User Master List
              </h4>
            </div>
            <div class="col">
              <a
                href="{{ url_for('index') }}"
                class="btn btn-outline-secondary rounded-pill ms-2 float-end"
              >
                <i class="bi bi-x-lg me-2"></i>Cancel
              </a>
              <a
                href="{{ url_for('enroll_user_form', app_id=app_id,app_name=app_name,app_url=app_url) }}"
                class="btn btn-outline-primary rounded-pill ms-2 float-end"
              >
                <i class="bi bi-plus-lg me-2"></i>Add New User
              </a>
            </div>
          </div>
        </th>
      </tr>
      <tr>
        <th class="d-none" style="max-width: 400px; width: 400px">User ID</th>
        <th>Email</th>
        <th>Effective From</th>
        <th>Effective To</th>
        <th>Status</th>
        <th class="text-center" style="width: 50px">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% if user_dashboard_data %} {% for user in user_dashboard_data %}
      <tr>
        <td class="d-none">{{ user.app_id }}</td>
        <td class="align-middle">
          <i class="bi bi-person-fill me-2 text-secondary"></i>{{ user.email }}
        </td>
        <td class="align-middle">{{ user.effective_from }}</td>
        <td class="align-middle">{{ user.effective_to }}</td>
        <td class="align-middle">
          {% if user.status == "active" %}<span class="active-badge"
            >{{ user.status }}</span
          >{% else %}<span class="inactive-badge">inactive</span>{% endif %}
        </td>
        <!-- <td><span class="badge text-bg-success">Active</span></td> -->
        <td class="text-center">
          <div class="dropdown action-dots">
            <button
              class="btn action-dots p-0 border-0 bg-transparent"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i
                class="bi bi-three-dots-vertical text-secondary"
                style="font-size: 20px"
              ></i>
            </button>

            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <a
                  class="dropdown-item"
                  href="{{ url_for('copy_access', app_id=app_id, app_name=app_name, app_url=app_url, user_email=user.email) }}"
                  ><i class="bi bi-clipboard text-secondary me-2"></i> Copy
                  Access</a
                >
              </li>
              <!-- <li>
                                <span class="dropdown-item text-muted"><i class="bi bi-eye text-secondary me-2"></i>
                                    View User Access</span>
                            </li> -->
              <li>
                <a
                  class="dropdown-item"
                  href="{{ url_for('manage_user_access_form', app_id=app_id, app_name=app_name, app_url=app_url, user_email=user.email) }}"
                  ><i class="bi bi-pencil-square text-secondary me-2"></i>
                  Modify User Access</a
                >
              </li>
              <!-- <li>
                <a class="dropdown-item" href="#"
                  ><i class="bi bi-trash3 me-2"></i> Delete User</a
                >
              </li> -->
            </ul>
          </div>
        </td>
      </tr>
      {% endfor %} {% endif %}
    </tbody>
  </table>
</div>
<footer class="footer mt-auto py-2 bg-light border-top">
  <div class="container-fluid text-end">
    <span class="text-muted small">
      <label class="fw-bold">Total User Count:</label
      ><label class="ms-2 fw-bolder" id="application_count">0</label>
    </span>
  </div>
</footer>
<footer class="footer mt-auto py-3 bg-light border-top">
  <div class="container text-center">
    <span class="text-muted small">
      &copy; 2026 <strong>Primer Group of Companies</strong>. All rights
      reserved.
    </span>
  </div>
</footer>
<script>
  document
    .getElementById("searchModule")
    .addEventListener("input", function () {
      const searchTerm = this.value.toLowerCase();
      const table = document.getElementById("table_users");
      const tbody = table.querySelector("tbody");
      const rows = tbody.getElementsByTagName("tr");

      for (let i = 0; i < rows.length; i++) {
        const rowText = rows[i].textContent.toLowerCase();

        if (rowText.includes(searchTerm)) {
          rows[i].style.display = "";
        } else {
          rows[i].style.display = "none";
        }
      }
    });
</script>
<script>
  const table = document.querySelector("table");
  const rowCount = table.getElementsByTagName("tbody")[0].rows.length;
  const app_count = document.getElementById("application_count");
  app_count.innerText = rowCount;
  console.log("Total Data Rows:", rowCount);
</script>

{% endblock %}
